<div id="grid-wrapper" style="width: 100%; overflow:hidden;">
    <ag-grid-angular #agGrid class="data-grid ag-theme-material"
                     style="width: 100%; height: 500px;"
                     [gridOptions]="gridOptions"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [headerHeight]="25"
                     enableSorting="true"
                     (rowClicked)="onRowClicked($event)"
                     >
    </ag-grid-angular>
</div>